/* .tabs {
    display: flex;
    align-items: center;

}
.tab1 .tab2 .tab3{
    min-height: 100px;
}
*{
    visibility: visible;
    height: auto;
    width: auto;
} */

/* nav{
    display: inline-block; */
    /* min-height: 100px;
    min-width: 100px;
} */


/* .counter span {
    width: 48px;
    text-align: center;
    font-size: 2rem;
}


.counter button {
    border-radius: 100%;
    border: none;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
}

.counter button:hover {
    background-color: lightgray;
} */

/* .active{
    visibility: visible;
} */
